@import '~pretty-checkbox/src/pretty-checkbox.scss';

html,body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

html { 
	background:#193441;
}

#logo {
	width: 400px;
	height:120px;
}

.form {
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}

.form h2 {
	background: #B0C2C6;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: -16px -16px 16px -16px;
}

.form input[type="text"],
.form input[type="password"] {
	-webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #B0C2C6;
  padding: 3%;
  color: #B0C2C6;
  font: 95% Arial, Helvetica, sans-serif;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus {
  box-shadow: 0 0 5px #464D4F;
  padding: 3%;
  border: 1px solid #464D4F;	
}

.form input[type="submit"]{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #B0C2C6;
  border-bottom: 2px solid #464D4F;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;    
  color: #fff;
}

.form input[type="submit"]:hover {
  background: #6E8E94;
  opacity: 1;
}

.checkbox {
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	padding-left: 140px;
}

.checkbox label {
	color: #6E8387;
	font-weight: 400;
}

.send {
  background-color: #B0C2C6;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin-left: 140px;
  opacity: 0.6;
  transition: 0.3s;
  border-radius: 15px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.send:hover {opacity: 1}
